/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html, body {
    overflow-x: hidden;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Playfair Display', serif; 
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid orangered;
}

.header-container,
.footer-container,
.main aside {
    background: #000;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;	
    color: #333;
    font-weight: normal;
    background: #fdf8ef /*#fcfaf2;*/
}
.heading{
    height: 75px;
    width: 100%;
    background: #000;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}
.logo{
    width: 150px;
    margin: 5px auto;
    display:block;
    margin-top: -36px;
}
/*
.container12 blockquote:before {
    content: "“";
    text-indent: -0.563em;
    float: left;
    font-size: 3.157em;
    line-height: 1;
}

.container12 blockquote{
    margin-left: -17px;
    padding-left: 15px;
    border-left: 2px solid orangered;
    color: #555;
    font-size: 24px;
    font-style: italic;
}*/

.container12 blockquote {
    margin-left: -2em;
    margin-right: -2em;
    padding: 2.665em 2em;
    color: #F5F6F6;
    background: repeat scroll 0% 0% #e86644;
    opacity: 1;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow-x: hidden;
}

.post hr{
    background: #333;
    border: 0;
    height: 3px;
    /*margin: 0 auto;*/
    margin-bottom: 20px;
    width: 300px;
}

h1{
    font: bold 36px/42px 'Playfair Display', serif;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 1);
    text-align:left;
    margin-top:30px;
    margin-bottom: 30px;
}

h2{
    font: bold 36px/42px 'Playfair Display', serif;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 1);
    text-align:left;
    margin-top:30px;
}

.picblock .h2holder{
    text-align: center;
    position: absolute;
    bottom: 50%;

    /*margin-left:-370px;
    width: 100%;
    max-width: 740px;*/
    width:100%;

    display:-moz-box;/* Firefox */
    display:-webkit-box;/* Safari and Chrome */
    /*display:box; W3C 
    -moz-box-pack:center;
    -moz-box-align:center;
    -ms-box-align:center;
    -ms-box-pack:center;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /*box-pack:center;
    box-align:center;*/
}
.h2title{
    text-align: center;
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    color: #FFF;
    text-shadow: 1px 1px 1px #3b302f;
}
h3{
    font: 700 32px/48px 'Playfair Display', serif;
    text-align: left;
    color: #ff4500;
    margin-bottom: 15px;
}
article p:first-of-type{
    font: 24px Georgia, "times new roman", times, serif;
    line-height: 1.6em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 25px;
    text-align: justify;
}
p{
    font: 18px Georgia, "times new roman", times, serif;
    line-height: 1.6em;
    margin-bottom: 25px;
    text-align:left;
    clear:both;
}
#article ul{
    font: 16px Georgia, "times new roman", times, serif;
    line-height: 1.6em;
    margin-bottom: 25px;
    text-align:left;
    clear:both;
}
blockquote p:first-of-type{
    font-size: 20px;
    font-style: italic;
}
blockquote p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0px;
}
blockquote p:before{
    float: left;
    margin-left: 0px;
    padding: 0;
    margin-top:25px;
    font-size: 200px;
    font-style: italic;
    content: "\201C";
    line-height: 0;
}
blockquote{
        position: relative;
    overflow: hidden;
}
/*blockquote p:after{
    float: right;
    margin-right: -100px;
    margin-top:150px;
    font-size: 200px;
    font-style: italic;
    content: "\201D";
    
    display: inline-block;
}*/
blockquote p:last-of-type{
    margin-bottom: 0px;
}

.fluid-width-video-wrapper {
    margin: 0 -30px 25px 30px;
}
.videoblock > .fluid-width-video-wrapper{
    margin:0;
}
article img{
    box-sizing:border-box;
    margin: 0 -20% 25px;
    width: 140%;
    clear:both
}
.post iframe.twitter-tweet-rendered{
    float: none;
    margin: 10px auto !important;
}
.post iframe{
    float: left;
    margin: 0 -30px 25px -30px;
    max-width: 930px;
    width: 120%;
    clear: both;
}
.adsbygoogle iframe{
    margin: 0;
    width: 100%;
}
pre{
    margin: 0 -30px 20px -30px;
    padding: 30px;
    display: block;
    clear: both;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
.meta{
    margin: 10px 0;
    color: #c3322f;
    font: 20px/22px serif;
    text-align:right;
    display:block;
}
.adsbygoogle{
    margin-top: 25px;
    margin-bottom: 15px;
}
.footer-container p,.footer-container ul{
    font: 18px 'Merriweather', Georgia, serif;
    line-height: 1.3em;
    margin-bottom: 25px;
}
.footer-container ul{
    list-style:none;
    text-align:left;
}
.footercontainerh3{
    text-align:left;
    margin: 15px 0;
}
a{
    color: orangered;
    letter-spacing: -1px;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition:color 0.3s ease-in-out;
    -o-transition:color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
a:hover{
    color: #cc3700;
}
/*.menbutton{
    display: inline-block;
    float: right;
    margin-top: -145px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #eef;
    background-color: aliceblue;
}
.homecolumn{
    background-image: -webkit-radial-gradient(50% 50%,farthest-side, rgba(0,0,0,.8), rgba(0,136,136,0) 100%);
}*/
.header_arrow_button {
    background: url("../header_arrow_button.png") repeat scroll 50% 50% transparent;
    height: 91px;
    width: 92px;
    position: absolute;
    bottom: 20px;
    margin-bottom: 20px;
    margin-left: -45px;
}
.avatar{
    border-radius: 18px;
    background-clip: padding-box;
    width: 36px;
    vertical-align: bottom;
    max-width: 36px !important;
    height: auto;
    border: 0 !important;
    float: none !important;
    margin: 0 !important;
}

.bg-img {
  width: 100%;
  height: 400px;
  background: url('../orangedish.png') center center repeat-x;
  position: relative;
    z-index: -1;
}
.bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:400px;
    background-image: linear-gradient(to bottom,#fdf8ef,rgba(252,250,242,0.4));
    opacity: 1; 
  }
.videoblock{
    margin-top: 40px;
}
.picblock{
    width: 100%;
    z-index: -1;
    margin: 0;
    height: 90vh; 
    background-size: contain;
    text-align: center;
}
.post, #article{
    margin-top: 150px;
    margin-bottom: -250px;
}
.videoy{
    margin-top: 0px;
    margin-bottom: -350px;
}
.videoy h2{
    text-align: left
}

#article .tweet-it-wrapper{
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    background: white;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    z-index: 100;
    opacity: 1;
    filter: alpha(opacity=0);
    transition: all .2s linear;
}
#article .tweet-it-wrapper .tweet-it-desc{
        font: 20px 'Merriweather', Georgia, serif;
        line-height: 1.2em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #article .tweet-it-wrapper .tweet-it-title{
        font: bold 24px serif;
        line-height: 1.2em;  
    }
    #article .tweet-it-wrapper .tweet-it-button{
        font: 20px sans-serif;
        line-height: 1.2em;
        margin-top: 10px;
        display: block;
        color: white;
        background-color: #ff4500;
        padding: 12px 18px;
        text-decoration: none;
        font-weight: 100;
        text-align: center;
    }

.asside .picblocka{
    margin-top: 40px;
}
.asside .picblocka img{
    max-width: 1140px;
    margin: 0 auto;
}

.posts { list-style-type: none; margin-top: 30px; }

.posts li { margin-bottom: 30px; 
text-align: center;}

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 300;
  border-bottom: 1px solid #ff4500;
  text-decoration: none;
    
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
  font-weight: 300;
    text-align: center;
}

.who{
    display:block;
    font: 24px 'Merriweather', Georgia, serif;
    line-height: 1.6em;
    margin: 125px 0px;
    text-align:center;
    width: 100%;
    clear:both;
}
.hitmeup{
    font: 24px 'Merriweather', Georgia, serif;
    line-height: 1.6em;
    margin-bottom: 25px;
    text-align:left;
    clear:both;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
    .footnotes ol{
        font: 18px 'Merriweather', Georgia, serif;
        line-height: 1.6em;
        margin-bottom: 25px;
        margin-left: 35px;
        text-align:left;
        clear:both;
    }
    .footnotes ol li{
        margin-bottom: 5px;
    }
    .footnotes ol li p:first-of-type{
        font-size: 18px;
        font-style: italic;
        margin-bottom: 0px;
    }
    .footnotes ol li p{
        font-size: 18px;
        font-style: italic;
        margin-bottom: 0px;
    }

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 480px) {

    h1{
        font: bold 68px/76px 'Playfair Display', serif;
        text-shadow: 0 2px 2px rgba(255, 255, 255, 1);
        text-align:center;
        margin-top:30px;
        margin-bottom: 150px;
    }
    
    h2{
        font: bold 68px/76px 'Playfair Display', serif;
        text-shadow: 0 2px 2px rgba(255, 255, 255, 1);
        text-align:center;
        margin-top:30px;
    }
    
/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }
    
    .main aside {
        float: right;
        width: 28%;
    }
    .footnotes ol{
        font: 18px 'Merriweather', Georgia, serif;
        line-height: 1.6em;
        margin-bottom: 25px;
        margin-left: 35px;
        text-align:left;
        clear:both;
    }
    .footnotes ol li{
        margin-bottom: 5px;
    }
    .footnotes ol li p:first-of-type{
        font-size: 18px;
        font-style: italic;
        margin-bottom: 0px;
    }
    .footnotes ol li p{
        font-size: 18px;
        font-style: italic;
        margin-bottom: 0px;
    }
    article img{
        box-sizing: border-box;
        float: left;
        margin: 0 -20% 25px;
        /*max-width: 800px;*/
        width: 140%;
        clear: both;
        border: 2px solid;
    }
    
    article p:first-of-type{
        font: 32px 'Merriweather', Georgia, serif;
        line-height: 1.6em;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 25px;
        text-align: justify;
    }
    p{
        font: 24px 'Merriweather', Georgia, serif;
        line-height: 1.6em;
		font-weight: 300;
    }
    blockquote p:first-of-type{
        font-size: 20px;
        font-style: italic;
    }
    blockquote p:last-of-type{
        font-size: 20px;
        font-style: italic;
        margin-bottom: 0px;
    }
    .footer-container p,.footer-container ul{
        font: 18px 'Merriweather', Georgia, serif;
        line-height: 1.3em;
        margin-bottom: 25px;
    }
    #article ul{
        font: 22px 'Merriweather', Georgia, serif;
        line-height: 1.6em;
        margin-bottom: 25px;
        margin-left: 35px;
        text-align:left;
        clear:both;
		font-weight: 300;
    }
    #article ul li{
        margin-bottom: 5px;
    }
    
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    
    #article .tweet-it-wrapper{
        position: fixed;
        bottom: 15%;
        right: 5px;
        width: 230px;
        padding: 15px;
        border: 1px solid #eee;
        background: white;
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
        z-index: 100;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all 20s linear;
        
        -moz-animation-name: dropHeader;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-in;
        -moz-animation-duration: 1s;
        -moz-animation-fill-mode: forwards;
        -moz-animation-delay: 20s;

        -webkit-animation-name: dropHeader;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 20s;

        animation-name: dropHeader;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 20s;
    }
    #article .tweet-it-wrapper .tweet-it-desc{
        font: 20px 'Merriweather', Georgia, serif;
        line-height: 1.2em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #article .tweet-it-wrapper .tweet-it-title{
        font: bold 24px serif;
        line-height: 1.2em;  
    }
    #article .tweet-it-wrapper .tweet-it-button{
        font: 20px sans-serif;
        line-height: 1.2em;
        margin-top: 10px;
        display: block;
        color: white;
        background-color: #ff4500;
        padding: 12px 18px;
        text-decoration: none;
        font-weight: 100;
        text-align: center;
    }
    @-moz-keyframes dropHeader {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes dropHeader {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes dropHeader {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}*/

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
    

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
