---
layout: amp
---

<div class="container12">
    <div id="article" class="column10 prefix1 post">
        <article>
            <header>
                <h1 itemprop="headline">{{ page.title }}</h1>
            </header>
            <div itemprop="articleBody">
            {{ page.body | markdownify | replace: 'img src','amp-img src' | replace: 'iframe','amp-iframe'}}
            </div>
        </article>
        <span class="hitmeup">Got something to add, or something to complain about? Contact me on Twitter: <a href="http://www.twitter.com/dan_oneill">@dan_oneill</a> or email me <a href="mailto:dan.oneill@live.ie">dan.oneill@live.ie</a></span>
    </div>
</div>