---
layout: default
---

<div class="container12 asside">
    <div class="column8 prefix2 post">
        <h2>{{ page.title }}</h2>
        <span class="who"></span>
        <article>
        {{ content }}
        </article>
    </div>
</div>
<div class="bg-img"></div>

<script>
    function downloadJSAtOnload2() {
        var element = document.createElement("script");
        element.src = "/404.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload2, false);
        else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload2);
        else window.onload = downloadJSAtOnload2;
</script>