---
layout: default2
---

<div class="container12">
    <div class="column12 videoblock">
        <iframe width="1140" height="641" src="{{ page.feat_vid }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="column8 prefix2 post videoy">
        {{ content }}
        <p class="meta"></p>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- New_WM_After -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1580942310742378"
                 data-ad-slot="7780015519"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<div class="bg-img"></div>